<%- include('partials/header'); -%>
    <div class="contenido col-12 row">
        <div class="tabla col-8 row mt-4 bg-light">
            <% if(data != ""){ %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                        <% for (let i = 0; i < data.length; i++) { %>
                            <tr class="fila" >
                                <td scope="row"><%= (i + 1) %></td>
                                <td><%= data[i].nombre %></td>
                                <td><%= data[i].direccion %></td>
                                <td><%= data[i].telefono %></td>
                                <td>
                                    <button class="btn btn-success rounded-pill botonInfo" data-nombre="<%= data[i].nombre %>" data-direccion = "<%= data[i].direccion %>" data-telefono = "<%= data[i].telefono %>" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar</button>
                                    <a href="/delete/<%= data[i].id %>"class="btn btn-danger rounded-pill">Eliminar</a>
                                </td>
                            </tr>
                        
                        <% } %>
                </tbody>
            </table>
            <% } else{ %>  
                <div class="position-relative">
                    <h3 class="position-absolute top-50 start-50 translate-middle">No hay datos registrados</h3>
                </div>
                        
          
               <% } %>
        </div>
        <div class="col-4 formulario">
            <form action="/add" method="post" class="card-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" name="nombre" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Direccion</label>
                    <input type="text" name="Direccion" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label class="form-check-label" for="exampleCheck1">Telefono</label>
                    <input type="text" name="Telefono" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="position-relative mt-5 col-12">
                    <button type="submit" class="btn btn-dark rounded-pill position-absolute top-50 start-50 translate-middle">Agregar</button>
                </div>
            </form>

        </div>
    </div>
    </div>

    <%- include('partials/footer'); -%>